name: Reusable Deploy
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the deployabel artifact files
        required: false
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
      - name: Output information
        run: echo "Deploying..."